*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 12px;
    color: #333333;
    min-width: 1272px;
    line-height: 1;
}

.content{
    width:1200px;
    margin: 0 auto;
}
/*圆点*/
li{
    list-style: none;
}
/*下划线*/
a{
    text-decoration: none;
    color: #333;
}
/*输入框聚焦边框*/
:focus{
    outline:none;
}
/*输入框边框*/
input{
    border: 0px;
}